*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* Font and sieze defenition */

html {
  font-size: 62.5%;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #333;
  padding: 3rem;
  box-sizing: border-box;
  background-color: thistle;
}
div {
  font-size: 2rem;
}
img {
  max-width: 40rem;
}
.header {
  text-align: center;
}
.faq {
  max-width: 50rem;
  margin: 2rem auto;
}
.faq__item {
  border: 1px solid #6e9b04;
}
.faq__title {
  display: block;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 1s ease-out;
}
.faq__title:hover {
  background-color: orangered;
}
.faq__text {
  display: none;
  transition: 1s ease-out;
  transition: all;
}
.faq__input {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
  transition: 1s ease-out;
}
.faq__input:checked ~ .faq__title {
  background-color: orangered;
}
.faq__input:checked ~ .faq__text {
  display: block;
  animation-name: imageMove;
  animation-duration: 1s;
  transition: 1s ease-out;
}
.faq__input:hover ~ .faq__text {
  display: block;
  animation-name: imageMove;
  animation-duration: 1s;
  transition: 1s ease-out;
}
.faq__text-entries {
  text-align: center;
}
@keyframes imageMove {
  0% {
    opacity: 0;
  }
  80% {
  }

  100% {
    opacity: 1;
  }
}
